.LatestInformation {  font-family: "ÇlÇr ÉSÉVÉbÉN", "OsakaÅ|ìôïù"; font-size: 10px; color: #FF6600; font-weight: bold; left: 15px; clip:    rect(   ); line-height: 16px}
.CastComment {  font-size: 10px; line-height: 12px; color: #FF6633}
.CastComment-title { font-size: 12px; line-height: 12px; color: #FFFFFF; font-weight: bold}
.txt_12pt {  font-size: 12px; line-height: 14px; color: #333333; clip:   rect(   ); padding-top: 10px; padding-left: 10px}
.CastComment2 { font-size: 10px; line-height: 12px; color: #00CCFF}
.CastComment3 { font-size: 10px; line-height: 12px; color: #FFCC00}
.CastComment4 { font-size: 10px; line-height: 12px; color: #00CC33}
.CastComment5 { font-size: 10px; line-height: 12px; color: #FF0099}
.CastComment6 { font-size: 10px; line-height: 12px; color: #0066FF}
.CastComment7 { font-size: 10px; line-height: 12px; color: #666666}
.txt_10pt { font-size: 10px; line-height: 12px; color: #333333; clip: rect( )}
.staffroll1 {  font-family: "ÇlÇr ÇoÉSÉVÉbÉN", "Osaka"; font-size: 12px; font-weight: bold; color: #000000; font-style: normal; line-height: 20px; text-transform: uppercase}
.staffroll2 { font-family: "ÇlÇr ÇoÉSÉVÉbÉN", "Osaka"; font-size: 12px; font-weight: normal; color: #000000; font-style: normal; line-height: 18px; text-transform: none}
.info1 { font-family: "ÇlÇr ÇoÉSÉVÉbÉN", "Osaka"; font-size: 14px; font-weight: bold; color: #FF6600; font-style: normal; line-height: 20px; text-transform: uppercase ; border: none; width: 300px; clip:  rect(   ); text-decoration: underline}
.about { font-size: 10px; color: #FFFFFF; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 12px}
.about_w { font-size: 10px; color: #FFFFFF; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 12px ; font-weight: bold}
